{% extends 'base.html' %}
{% comment %} {% load thaidate %} {% endcomment %}

{% block title%}Show All Data{% endblock%}

{% block css %}

{% endblock %}

{% block content %}
    
       
    <h3>ข้อมูลเซิร์ฟเวอร์ {{ request.Server }}</h3>
    <div class="table-responsive">
      <form action = "" method = "post" enctype="multipart/form-data">
      {% csrf_token %}
      <table class="table table-striped table-sm">
        {{ form.as_table }}
      </table>
      <button class="btn btn-primary btn-sm btn-block" type = "submit">บันทึก</button>
    </div>
{% endblock %}

{% block script %}
{% endblock %}